<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlightSimulator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACA8CD812583F05B00B3D55E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACA8CD972583F05C00B3D55E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACA8CDA22583F05C00B3D55E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
